# Android
*.iml
.gradle
/local.properties
.idea
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Visual Studio / Backend
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
bin/
obj/

# Docker / Logs
*.log
backend/.DS_Store
