# Common
.DS_Store
.idea/
.idea
.vscode/
*.swp
*.log
*.iml

# Android
.gradle
/local.properties
/.idea/assetWizardSettings.xml
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Visual Studio / Backend
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
bin/
obj/

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.development.local

# Misc
backend/.DS_Store
